:host {

    .code {

        background: #444;
        border-radius: 7px;
        padding: 3px 10px;
        color: #aaa;

        i {

            margin-right: 10px;
            color: mediumseagreen;

        }

    }

    .top {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: #222;
        font-size: 25px;

        .left {

            padding: 20px;
            color: #666;

            font-size: 16px;

            a {

                font-size: 25px;
                color: mediumseagreen;

                &:hover {

                    color: darkorange;

                }

            }

            &:first-line {


            }

        }

        .right {

            padding: 20px;

            a {

                color: #999;

            }

        }

    }

    .demos {

        display: flex;
        flex-wrap: wrap;

        padding: 50px;

        .description {

            font-size: 18px;
            margin-bottom: 15px;
            font-weight: 600;
            background: #aaa;
            padding: 10px;

            &:first-line {

                font-size: 14px;

            }

        }

        .demo {

            flex: 0 1 calc(33% - 65px);
            margin-right: 40px;
            margin-bottom: 40px;
            border: 4px dashed #8878c0;
            padding: 10px;

            .below {

                margin-top: 20px;

                .buttons {

                    button {

                        background: #8c8c8c;
                        padding: 6px 10px;
                        border: 2px solid #777;
                        border-radius: 3px;
                        font-size: 15px;

                    }

                }

                .detail {

                    border: 3px dashed #999;
                    margin-top: 10px;
                    padding: 10px;

                    span {

                        font-weight: bold;

                    }

                }

                .values {

                    margin-top: 10px;

                }

            }

        }

    }

}
